################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VariablesDisplayer/.vs/VariablesDisplayer
/VariablesDisplayer/VariablesDisplayer/obj
/VariablesDisplayer
/VariablesDisplayerConsoleApp/.vs/VariablesDisplayerConsoleApp
/VariablesDisplayerConsoleApp/VariablesDisplayerConsoleApp/bin/Debug/netcoreapp3.1
/VariablesDisplayerConsoleApp/VariablesDisplayerConsoleApp/obj
